
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li:link {
 background-color: yellow;
text-decoration: none;
border: solid black 1px;
padding: 1px;
}
li;:visited {
background-color: cyan;
}
li:hover {
background-color:
lightgreen;
}
li:active {
background-color:
hotpink;
}


body {
	font-family: 'Arial', sans-serif;
    background-image: url(kid.jfif);
	background-position:center;
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size:cover;
}


header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


section {

	background-color:white;
}

section h2 {
    font-size: 2rem;

}

section p {
    font-size: 1.2rem;

}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

#box{
	width: 700px;
	height: 400px;
	position: absolute;
	left: 300px;
	top: 200px;
}
#text {
   position: absolute;
   top: 100px;
   left: 350px;
   color: white;
   font-size:25px;
}
#hi p{
	color-background: blue;
	padding: 11px;
	display: none;
	width:300px;
	height:300px;
	
}
#hi:hover p{
	display:block;
}